<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="If-None-Match" >
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>BluePay</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sms/style.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sms/main.js?v=30002?<?=time()?>"></script>
</head>
<body>
<div id="modal-alert" class="modal fade" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:99999">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:12pt;">
            <div class="modal-body" >
                <div class="container-fluid">
                    <div id="_edit-CP">
                        <div class="col-md-12" id="alert_cont">
                            <img src="/img/success.png" width="10%" alt="">
                        </div>
                        <div id="infoID" class="col-md-12" style="padding:10px 0PX;font-family: HelveticaNeue;font-size: 14px;color: #309CFF;letter-spacing: -0.01px;">
                            Silahkan cek SMS anda untuk kode konfirmasi pembelian
                        </div>
                    </div>
                </div>
            </div>
            <a onclick="hiddenInfo()" class="modal-footer btn btn-block btn-lg btn-success submitClass" id= "modal_confirm" style="margin-top:0%; text-align:center; background: #309CFF; border-radius:0pt 0pt 11pt 11pt;font-family: HelveticaNeue;font-size: 18px;color: #FFFFFF;letter-spacing: -0.01px;">
                OK
            </a>
        </div>
    </div>
</div>
<div id="modal-alert-loading" class="modal fade" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:99999">
    <div class="modal-dialog" style="margin:20% auto; " align="center">
        <img src="/img/loading-2.gif">
    </div>
</div>
<div id="wrap">
    <div id="main-content">
        <div id="_logo">
            <div class="container">
                <div class="col-md-12">
                    <img src="/img/bluePay_logo.png" class="center-block img-responsive" width="20%">
                </div>
            </div>
        </div>
        <div id="_sub-content">
            <div class="container">
                <div class="contentTopweb">
                    <ul>
                        <?php foreach($telcos as $k => $tel):?>
                            <li style='width:<?=1/count($telcos)*100?>%'><a href='javascript:void(0)' onclick="changeTelcos('<?=$tel?>','<?=$k?>')"><?=ucfirst($tel)?></a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
                <div class="col-md-12 form-panel" >
                    <form id="inFormID" method="get" action="#">
                        <div class="contentpic">
                            <img src="/img/sms/telco_ais.png" >
                            <!--手机号码表单-->
                            <input type="test" class="form-control input-msisdn" name="msisdn" id="msisdn" placeholder="Silahkan masukan nomor telepon anda">
                            <div style="font-size:8px;word-wrap: break-word;overflow: hidden;" id="phone_prefix"></div>
                        </div>
                            <span id="spanId">
                                <a  class="btn btn-block btn-lg btn-success submitClass" id= "btn_submit">
                                <?php echo number_format($ct == 'th'? $price/100:$price) . " " .$currency; ?>
                                <span style="margin-left:20px;backgroud-color:white;"><?php echo $lang['buy'];?></span>
                            </a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">&copy; <a href="#" title="BlueMobile">Blue Mobile Tech</a> Co.,Ltd. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    init({
        os:"<?=getOs();?>",
        productId:'<?=$productId;?>',
        price:'<?=$price;?>',
        telcos:'<?=json_encode($telcos);?>',
        transactionId:'<?=$transactionId;?>',
        promotionId:'<?=$promotionId;?>',
        propsName:'<?=$propsName?>',
        ct:'<?=$ct?>',
        telco:'<?=$telco;?>',
        isHwChannel:'<?=$isHwChannel;?>',
        isShowLogo:'<?=$isShowLogo;?>',
        status:'<?=$status;?>',
        description:'<?=$description;?>',
        lang:'<?=json_encode($lang)?>',
        href:'<?=$href?>',
        bank:'<?=$bank?>'
    });
</script>
</body>
</html>