<div id="modal-alert" class="modal fade" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:99999">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:12pt;">
            <div class="modal-body" >
                <div class="container-fluid">
                    <div id="_edit-CP">
                        <div class="col-md-12" id="alert_cont">
                            <img src="/img/success.png" width="10%" alt="">
                        </div>
                        <div id="infoID" class="col-md-12" style="padding:10px 0PX;font-family: HelveticaNeue;font-size: 14px;color: #309CFF;letter-spacing: -0.01px;">
                            Silahkan cek SMS anda untuk kode konfirmasi pembelian
                        </div>
                    </div>
                </div>
            </div>
            <a onclick="hiddenInfo()" class="modal-footer btn btn-block btn-lg btn-success submitClass" id= "modal_confirm" style="margin-top:0%; text-align:center; background: #309CFF; border-radius:0pt 0pt 11pt 11pt;font-family: HelveticaNeue;font-size: 18px;color: #FFFFFF;letter-spacing: -0.01px;">
                OK
            </a>
        </div>
    </div>
</div>

