<div class="bottomclass">
    <a num = 1 class="total_label">All</a> <img src="/img/error.png" alt="" width="15px" class = "close_selection" onclick="chooseThaiand()">
</div>
<div class="contentthb" id="contentthbID">
    <ul>
        <li id="thbLiID" onclick="chooseThaiand()">
            <p><img src="/img/cashcard/thb.png" width="150px;"></p>
            <div>&nbsp;</div>
            <p>Thailand</p>
        </li>
        <li id="vnLiID" onclick="chooseVietnam()">
            <p><img src="/img/cashcard/vn.png" width="150px;"></p>
            <div>&nbsp;</div>
            <p>Vietnam</p>
        </li>
        <li id="inLiID" onclick= "chooseIndonesia()">
            <p><img src="/img/cashcard/in.png" width="150px;"></p>
            <div>&nbsp;</div>
            <p>Indonesia</p>
        </li>
    </ul>
</div>

