<div id="modal-alert-loading" class="modal fade" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:99999;margin-top: 30%">
    <div class="modal-dialog" style="margin:20% auto; " align="center">
        <img src="/img/loading-2.gif">
    </div>
</div>