<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>BluePay</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bank/vn/style.css">
</head>
<body>
<!-- Fixed navbar -->
<header id="myHeader" style="display:none">
    <button class="icon-backright" onclick="window.history.back();"></button>
    <button class="g-refresh" onclick="location.reload();"></button>
</header>
<section>
    <div class="container">
        <div class="wap">
            <div class="row log" >
                <div class="jumbotron" id="botron">
                    <img src="/img/bank/vn/bluePay_logo.png" />
                </div>
            </div>

            <div class="row info">
                <div class="jumbotron">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge"><?php echo $transactionId;?></span>
                            Transaction code
                        </li>
                        <li class="list-group-item">
                            <span class="badge"><?php echo number_format($price);?> đ</span>
                            Transaction value
                        </li>
                        <li class="list-group-item">
                            <span class="badge">BMVN</span>
                            merchant
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row title">
                <div class="panel-body">
                    <p>PAYMENT METHODS</p>
                </div>
            </div>
            <div class="row bank">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#onlineBanking" aria-expanded="true" aria-controls="onlineBanking">
                            <img src="/img/bank/vn/bank1.png" alt="Online Banking" class="icon-img pull-left">
                            <h4 class="panel-title">Online Banking</h4>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div id="onlineBanking" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="box-nganhang" id="list-bank">
                                <?php foreach($banks as $k => $v):?>
                                    <div class="row bankbox" style="display: <?php if($k>2){echo 'none';}?>">
                                        <?php $i=1;?>
                                        <?php foreach($v as $bankName => $encrypt):?>
                                            <?php $i++;?>
                                            <?php if($k==2&&$i==4):?>
                                                <div class="col-xs-4  col-md-4" id="more-bank">
                                                    <button  type="submit" class="thumbnail">
                                                        <img src="/img/bank/vn/other-bank.png" alt="other-bank"   data-holder-rendered="true">
                                                    </button>
                                                </div>
                                                <div class="col-xs-4  col-md-4 hiddenbank" style="display: none;">
                                                    <form method="POST" class="form-inline" >
                                                        <!--提交数据-->
                                                        <?=$input_str;?>
                                                        <input type="hidden" name="bank_id" value="<?=$encrypt; ?>">
                                                        <input type="hidden" name="transactionId" value="<?=$transactionId; ?>">
                                                        <input type="hidden" name="price" value="<?=$price; ?>">
                                                        <input type="hidden" name="promotionId" value="<?=$promotionId; ?>">
                                                        <input type="hidden" name="propsName" value="<?=$propsName; ?>">
                                                        <button   type="submit"  class="thumbnail">
                                                            <img  src="/img/bank/vn/<?=$bankName?>.png" alt="<?=$bankName?>"   data-holder-rendered="true">
                                                        </button>
                                                    </form>
                                                </div>
                                            <?php else:?>
                                                <div class="col-xs-4  col-md-4">
                                                    <form method="POST" action="/c=bank&a=submit"class="form-inline" >
                                                        <!--提交数据-->
                                                        <?=$input_str;?>
                                                        <input type="hidden" name="bank_id" value="<?=$encrypt; ?>">
                                                        <input type="hidden" name="transactionId" value="<?=$transactionId; ?>">
                                                        <input type="hidden" name="price" value="<?=$price; ?>">
                                                        <input type="hidden" name="promotionId" value="<?=$promotionId; ?>">
                                                        <input type="hidden" name="propsName" value="<?=$propsName; ?>">
                                                        <button   type="submit"  class="thumbnail">
                                                            <img  src="/img/bank/vn/<?=$bankName?>.png" alt="<?=$bankName?>"   data-holder-rendered="true">
                                                        </button>
                                                    </form>
                                                </div>
                                            <?php endif;?>
                                        <?php endforeach;?>
                                    </div>
                                <?php endforeach;?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
</section>

<div id="modal-alert-loading" class="modal fade" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:99999">
    <div class="modal-dialog" style="margin:50% auto; " align="center">
        <img src="/img/bank/vn/loading.gif">
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bank/vn/bluepay.js"></script>
<script src="/js/bank/vn/phone.js"></script>
<script>
    $('form').bind('submit', function (event) {
        event.preventDefault();
        showLoading();
        var data = $(this).serialize();
        $.ajax({
            type: "GET",
            async:true,
            url: "/c=bank&a=submit?"+data,
            dataType: "json",
            success: function(data){
                hideLoading();
                if(data.location){
                    window.location.href = data.location;
                }else{
                    alert(data.msg+"("+data.status+")");
                }
            },
            error:function(error,error2,error3){
                hideLoading();
                console.log(error);
                console.log(error2);
                console.log(error3);
                alert('Request timeout, Please check your network.');
            }
        });
    })
</script>
</body>
</html>